.timer {
    text-align: center;
    margin-top: 120px;
}

.timerRed {
	font-size: 200px;
	color: #4B84AF;
	margin: 20px 20px
}

.timerGreen {
	font-size: 200px;
	color: rgb(27, 148, 27);
	margin: 20px 20px
}
